.winner {
  position: absolute;
  background: #1b1717e6;
  color: whitesmoke;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 36px;
  border-radius: 8px;
  box-shadow: 5px 7px 11px 2px black;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
}

.winner h1 {
  font-size: 4rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
}

.container p {
  margin-bottom: 8px;
}

.container span {
  font-size: 1.6rem;
}

.container div {
  font-size: 2rem;
  text-align: center;
}

.buttons {
  text-align: center;
}

.buttons span {
  position: relative;
  transition: color 0.4s;
}

.buttons button {
  border: 0;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: 600;
  width: 76%;
  position: relative;
  font-family: inherit;
  letter-spacing: 0.05em;
  background: linear-gradient(to right, #bfde42, #359323);
  color: whitesmoke;
  overflow: hidden;
  cursor: pointer;
  margin: 4px 0;
}

.buttons button:before,
.buttons button:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.buttons button:before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.buttons button:hover::before {
  transform: translate3d(100%, 0, 0);
}

.buttons:active {
  transform: scale(0.95);
}
