.game {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  font-size: 2rem;
  color: whitesmoke;
  margin: 88px auto 0;
  width: 80%;
  max-width: 600px;
  gap: 8px;
}

@media (min-width: 800px) {
  .game {
    grid-template-columns: repeat(5, auto);
    row-gap: 20px;
  }
}
