.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  gap: 8px;
  position: relative;
}

.goBack{
  position: absolute;
  bottom: -48px;
  font-size: 1.6rem;
  font-weight: 600;
  background: black;
  color: #39a05c;
  padding: 8px 12px;
  border-radius: 8px;
}

.goBack:hover{
  cursor: pointer;
  color: black;
  background-color: #39a05c;
  border: none;
}

@media (min-width: 700px) {
  .game {
    width: 500px;
    row-gap: 20px;
  }
}
