* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;

}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
  background-color: #0d0f38;
  background-image: url("http://4.bp.blogspot.com/-C0m2JLJWUa0/UwTj_TNMz2I/AAAAAAAAAV4/0FzRd-YT6rQ/s1600/RAM_105_LungInteriorAlveoli_Concept_JMcD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
