.card {
  position: relative;
  width: 64px;
  height: 64px;
  max-width: 100px;
  max-height: 100px;
  background-color: transparent;
}

.card:hover{
  cursor: pointer;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid black;
  border-radius: 8px;
  transform-style: preserve-3d;
  perspective: 1000;
}

/* front of card - picture */
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

/* back of card - cover */

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media (min-width: 700px) {
  .card {
    width: 90px;
    height: 90px;
  }
}

